{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if messages %}
    <div class="message-box">
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <h1>To Do List</h1>
    <div>

        <!-- 메인 화면 -->
        <div id="main">
            <div><button class="btn primary" onclick="showLogin()">로그인 하기</button></div>
            <div><button class="btn secondary" onclick="showSignup()">회원가입 하기</button></div>
        </div>

        <!-- 로그인 화면 -->
        <div id="login" class="hidden">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="아이디" required>
                <input type="password" name="password" placeholder="패스워드" required>
                <button type="submit" class="btn primary">로그인</button>
            </form>
            <button class="btn secondary" onclick="showMain()">뒤로가기</button>
        </div>

        <!-- 회원가입 화면 -->
        <div id="signup" class="hidden">
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="아이디" required>
                <input type="password" name="password1" placeholder="패스워드" required>
                <input type="password" name="password2" placeholder="패스워드 확인" required>
                <button type="submit" class="btn primary">회원가입</button>
            </form>
            <button class="btn secondary" onclick="showMain()">뒤로가기</button>
        </div>

    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
